<ion-content [fullscreen]="true">
  <app-nav-bar></app-nav-bar>
  <div class="background">
    <div class="row">
      <button (click)="onMesaClick(1)" class="col-12 col-xs-12 mesa"><span>Mesa 1</span></button>
      <button (click)="onMesaClick(2)" class="col-12 col-xs-12 mesa"><span>Mesa 2</span></button>
      <button (click)="onMesaClick(3)" class="col-12 col-xs-12 mesa"><span>Mesa 3</span></button>
      <button (click)="onMesaClick(4)" class="col-12 col-xs-12 mesa"><span>Mesa 4</span></button>
      <button (click)="onMesaClick(5)" class="col-12 col-xs-12 mesa"><span>Mesa 5</span></button>
      <button (click)="onMesaClick(6)" class="col-12 col-xs-12 mesa"><span>Mesa 6</span></button>
    </div>
  </div>
</ion-content>
