.background
{
    width: 100%;
    height: 90vh;
}

.buttons-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button
{
    background-color: #9033338f;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 40px;
}