.background
{
    width: 100%;
    height: 100%;
    background-color: #FDDCA1;
    padding: 20px;
}

.user-name
{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #B84141;
    border-radius: 30px;
    margin-bottom: 10px;
}

.info-container
{
    background-color: #b841417b;
    border-radius: 10px;
    padding: 20px;
}

span
{
    font-size: 25px;
}

.info-row
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #b8414192;
    border-radius: 6px;
}

.button-container
{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.buttons-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button-option
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: none;
    span
    {
        font-size: 15px;
    }
}

.button-reject
{ 
    background-color: #703039a2;
}

.button-accept
{
    background-color: #27301f98;
}

.button-back
{
    background-color: #a7a7a7a9;
}

.image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
}