<ion-content [fullscreen]="true" style="--background: #FDDCA1;">
  <app-nav-bar></app-nav-bar>
  <div class="background">
    <div class="back-button-container">
      <ion-button class="back-button" (click)="onBackClick()" expand="block" fill="clear" shape="round">
        <i class="bi bi-arrow-left"></i>
      </ion-button>
    </div>
    <div class="users-container">
      <div>
        <h1>Validar usuarios</h1>
      </div>
      <div class="users">
        <div class="user-container" (click)="onUserClick(user.UserName)" *ngFor="let user of this.usersNotAccepted">
          <div>
            <i class="bi bi-person-circle"></i>
            <span>@{{user.UserName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>  
