<ion-content [fullscreen]="true">
  <div class="container">
    <div class="blocks up-login" style="flex: 2;">
      <div class="title-container">
        <h1 class="title">¡FOODY!</h1>
        <img src="./../../../assets/Isotipo_NoBackground_3000px.png">
      </div> 
    </div>
    <form [formGroup]="form">
      <div style="margin: 10px 0px;">
        <div class="login-field">
          <input type="text" placeholder="Correo / Usuario" formControlName="email">
          <ion-icon slot="end" name="person-outline"></ion-icon>
        </div>
        <div *ngIf="form.controls['email'].errors != null">
          <small *ngIf="form.controls['email'].errors!['required'] && form.controls['email'].touched">¡El Correo / Usuario es requerido!</small>
        </div>
      </div>
      <div style="margin: 10px 0px;">
        <div class="login-field">
          <input type="password" placeholder="Contraseña" formControlName="password">
          <ion-icon slot="end" name="person-outline"></ion-icon>
        </div>
        <div *ngIf="form.controls['password'].errors != null">
          <small *ngIf="form.controls['password'].errors!['required'] && form.controls['password'].touched">¡La contraseña es requerida!</small>
        </div>
      </div>
      <div class="buttons-container">
        <ion-button (click)="onFillFields('admin@admin.com', '123456')" expand="block" fill="clear" shape="round">
          1 <ion-icon slot="end" name="person-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="onFillFields('Metre', '123456')" expand="block" fill="clear" shape="round">
          2 <ion-icon slot="end" name="person-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="onFillFields('MozoCarlos', '123456')" expand="block" fill="clear" shape="round">
          3 <ion-icon slot="end" name="person-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="buttons-container">
        <ion-button (click)="onFillFields('Cocinero', '123456')" expand="block" fill="clear" shape="round">
          4 <ion-icon slot="end" name="person-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="onFillFields('BaristaJuan', '123456')" expand="block" fill="clear" shape="round">
          5 <ion-icon slot="end" name="person-outline"></ion-icon>
        </ion-button>
      </div>
      <div style="margin-top: 10px;">
        <p>¿No tienes cuenta? <a href="register">Regístrate</a></p>
      </div>
    </form>
    <ion-button (click)="onAnonLoginClick()"  class="anon-button">Ingreso anónimo</ion-button>
    <div class="blocks bottom-login" style="flex: 1;">          
      <div class="login">
        <ion-button class="login-button" (click)="onLoginClick()" expand="block" fill="clear" shape="round">
          <span>Iniciar sesión</span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>