.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
}

ion-content
{
    background-color: #531514 !important;
}

.buttons-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form
{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fields-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-field
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.login-field
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --background: none;
    padding: 10px;
    background-color: #53151430;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 8px;
    border-bottom: #70303960 5px solid;
    width: 100%;
    input
    {
        border: none;
        outline: none;
        background: none;
        width: 100%;
        padding: 20px;
        font-size: 19px;
    }
}

.blocks
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.title-container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img
    {
        width: 150px;
    }
    h1
    {
        width: 100%;
        padding: 20px;
        background-color: #53151430;
        border-radius: 60px;
    }
}

.up-login
{
    background-color: #B84141;
    border-radius: 0px 0px 90px 0px;
}

.bottom-login
{
    background-color: #B84141;
    border-radius: 90px 90px 0px 0px;   
    height: 20px !important;
}
.login{
    width: 100%;
    height: 100%;
}
.login-button
{
    width: 100%;
    height: 100%;
    span
    {
        font-size: 30px;
    }
}


ion-list
{
    background: none;
    ion-item
    {    
        --background: #531514;
        border-radius: 20px 20px 0px 20px;
    }
}

p
{
    font-size: 20px;
}