.background
{
    width: 100%;
    height: 90vh;
}

.text-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1{
    font-size: 50px;
    text-align: center;
    background-color: #271F3080;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.button
{
    background-color: #9033338f;
    border-radius: 20px;
    border: none;
    font-size: 40px;
}

span
{
    text-align: center;
    font-size: 35px;
    color: #271F30;
}
.buttons-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}