<ion-content [fullscreen]="true">
  <app-nav-bar></app-nav-bar>
  <div class="background">
    <ion-button class="button" (click)="onMenuClick()" expand="block" fill="clear" shape="round">
      <i class="bi bi-list"></i>
      <span>{{firstButtonMessage}}</span>
    </ion-button>
    <ion-button class="button" (click)="onChatClick()" expand="block" fill="clear" shape="round">
      <i class="bi bi-chat-left"></i>
      <span>CHAT</span>
    </ion-button>
    <ion-button class="button" expand="block" fill="clear" shape="round">
      <i class="bi bi-controller"></i>
      <span>JUEGOS</span>
    </ion-button>
  </div>
</ion-content>
