<div class="background">
  <div class="row">
    <div class="col-12">
      <h1>Pedido de @{{this.user.UserName}}</h1>
    </div>
  </div>
  <div class="categorias-container">
    <div class="categoria">
      <span>COCINA</span>
      <span>{{ this.pedido.CocinaLista ? 'Listo' : 'En preparación' }}</span>
    </div>
    <div class="categoria">
      <span>BAR</span>
      <span>{{ this.pedido.BarListo ? 'Listo' : 'En preparación' }}</span>
    </div>
  </div>
    <div class="buttons-container">
      <button type="button" class="btn btn-light button-option button-back" (click)="onDecideClick(null)">
        <i class="bi bi-arrow-left"></i>
        <span>VOLVER</span>
      </button>
      <button [disabled]="!this.pedido.CocinaLista || !this.pedido.BarListo" type="button" class="btn btn-light button-option button-accept" (click)="onDecideClick(true)">
        <i class="bi bi-check"></i>
        <span>ENTREGAR</span>
      </button>
    </div>
</div>