<ion-content [fullscreen]="true" [ngClass]="{'usingQR' : usingQR}">
  <app-nav-bar></app-nav-bar>  
  <div *ngIf="this.auth.validationState == null; else elseBlock"><app-no-validated></app-no-validated></div>
  <ng-template #elseBlock>
    <div *ngIf="this.auth.rol == 'Admin'">
      <app-admin-home></app-admin-home>
    </div>   
    <div *ngIf="this.auth.rol == 'Usuario' || this.auth.rol ==  'Anon' ">
      <app-validated (usingQRChange)="onUsingQRChange($event)"></app-validated>
    </div>    
    <div *ngIf="this.auth.rol == 'Metre'">
      <app-metre-home></app-metre-home>
    </div> 
    <div *ngIf="this.auth.rol == 'Mozo'">
      <app-mozo-home></app-mozo-home>
    </div> 
  </ng-template>
</ion-content>
